trigger:
  - main

variables:
  - group: SSH_Secrets

pool:
  vmImage: "ubuntu-latest"

steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: "3.x"

  - script: |
      echo "Deploying to server $(REMOTE_SERVER) as user $(REMOTE_USER)"
      ssh -o StrictHostKeyChecking=no $(REMOTE_USER)@$(REMOTE_SERVER) "echo 'Deployment using secret key $(SECRET_KEY)'"
    displayName: "Deploy code via SSH"
